

<!--==================== FOOTER ====================-->
<footer class="footer section">
  <div class="footer__container container grid">
     <div class="footer__content footer__brand">
        <a href="#" class="footer__logo">webizra</a>
        <p class="footer__description">With our advanced technologies and strategic approach we make your business shine on the web.
           <br>Reach us on social media </p>
        <div class="footer__social__buttons">
           <a href="https://web.facebook.com/webizradev/" class="footer__social__link fb"><i class="ri-facebook-circle-fill"></i></a>
           <a href="https://github.com/webizra" class="footer__social__link tweeter"><i class="ri-github-fill"></i></a>
           <a href="https://www.linkedin.com/in/tochukwu-emeka-316826185/" class="footer__social__link fb"><i class="ri-linkedin-box-fill"></i></a>
           <a href="https://www.instagram.com/webizra/" class="footer__social__link ig"><i class="ri-instagram-fill"></i></a>
        </div>
     </div>

      <div class="footer__content">
          <h3 class="footer__title">Site Map</h3>
          <ul class="footer__links">
              <li><a href="#about" class="footer__link">about us </a></li>
              <li><a href="#services" class="footer__link">services</a></li>
              <li><a href="#portfolio" class="footer__link">portfolio</a></li>
              <li><a href="/club/club" class="footer__link">coding classes</a></li>
              <li><a href="/blog/blog" class="footer__link">our blog</a></li>
          </ul>
      </div>

     <div class="footer__content">
          <h3 class="footer__title">Contact Info</h3>
          <ul class="footer__links">
              <li><a href="##" class="footer__link">no 35 road 3rd avenue gwarinpa <br>FCT-Abuja</a></li>
              <li><a href="##" class="footer__link">webizra@gmail.com <br>tooochifelix@gmail.com</a></li>
              <li><a href="##" class="footer__link">08022043703 <br>07068435354</a></li>
          </ul>
     </div>
     <div class="footer__content">
        <div class="newsletter__container">
           <h3 class="footer__title">Newsletter</h3>
           <p class="newsletter__description">for latest updates and offers</p>
           <form action="" class="newsletter__form">
              <input type="text" placeholder="Enter your email" class="newsletter__input">
              <button class="btn">Subscribe</button>
           </form>
        </div> 
     </div> 
  </div>
  <p class="footer__copy">&copy;2021 webizra. All rights reserved</p>
</footer>
<!--==================== END OF FOOTER ====================-->

<!--========== SCROLL UP ==========-->
<a href="#" class="scrollup" id="scroll-up">
  <i class="ri-arrow-up-line scrollup__icon"></i>
</a>

<!--========== WHATSAPP ==========-->
<a href="https://api.whatsapp.com/send?phone=+2348022043703&text=&source=&data=&app_absent=" class="whatsapp" id="whatsapp">
  <i class="ri-whatsapp-line whatsapp__icon"></i>
</a>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.min.js" integrity="sha256-CBrpuqrMhXwcLLUd5tvQ4euBHCdh7wGlDfNz8vbu/iI=" crossorigin="anonymous"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/simplelightbox/1.17.2/simple-lightbox.min.js'></script>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v11.0" nonce="aHXTs8qJ"></script>
<script src="/js/scrollreveal.min.js"></script>
<script src="/js/swiper-bundle.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/custom.js"></script>
<script src="/js/register.js"></script>
<script src="/js/login.js"></script>
<script src="/js/app.js"></script>
</body>
</html>
