<!--==================== HEADER ====================-->
<header class="header" id="header">
   <nav class="nav container">
      <div class="backdrop"></div>
      <a href="#" class="nav__logo">WEBIZRA</a>
      <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">
               <li class="nav__item"><a href="/" class="nav__link current__link active-link">Home</a></li>
               <li class="nav__item"><a href="#about" class="nav__link">about</a></li>
               <li class="nav__item"><a href="#services" class="nav__link">services</a></li>
               <li class="nav__item"><a href="#portfolio" class="nav__link">portfolio</a></li>
               <li class="nav__item"><a href="/club/club" class="nav__link club__redirect">coding club</a></li>
               <li class="nav__item"><a href="#contact" class="nav__link contact__redirect">contact</a></li>
               <li class="nav__item"><a href="/blog/blog" class="nav__link contact__redirect">Blog</a></li>
               <a href="/auth/login" class="button button__ghost">Login</a>
               <!-- <a href="/auth/login" class="button button__ghost"><% if (user){%>user.email<%}else { %>Login<% } %></a> -->
            </ul>
            <div class="social__buttons">
            <a href="https://web.facebook.com/webizradev/" class="social__link fb"><i class="ri-facebook-circle-fill"></i></a>
            <a href="https://github.com/webizra" class="social__link github"><i class="ri-github-fill"></i></a>
            <a href="https://www.linkedin.com/in/tochukwu-emeka-316826185/" class="social__link fb"><i class="ri-linkedin-box-fill"></i></a>
            <a href="https://www.instagram.com/webizra/" class="social__link ig"><i class="ri-instagram-fill"></i></a>
            </div>
      </div>

      <div class="nav__toggle" id="nav-toggle">
         <div class="line1"></div>
         <div class="line2"></div>
         <div class="line3"></div>
      </div>
   </nav>
</header>
<!--==================== END OF HEADER ====================-->